/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
	height: 1;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a {
	color: inherit;
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}

.js-admin-toolbar-hidden {
	width: 100%;
	position: fixed;
    left: 0;
    top: 0;
	
}

.js-admin-toolbar-visible {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap : 20px;
	height: 60px;

}

.admin-toolbar-text {
	color: white;
	display: flex;
	gap : 10px;
	font-size: 16px;
}

.admin-toolbar-button {
	background-color: #FFFFFF;
	color: black;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}

.portfolio-title-layout {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;

}

.js-modal-edit {
	display: flex;
	gap: 10px;
	border: none;
	font-size: 1rem;
	padding: 10px;
	background-color: inherit;
	cursor: pointer;
}

.js-project-filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 50px;
}

.filter-button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1D6154;
	border-radius: 60px;
	border: 1px solid #1D6154;
	font-size: 1em;
	font-weight: 700;
	font-family: 'Syne';
	background-color: #FFFFFF;
	padding: 0.6em;
	cursor: pointer;

}

.filter-button:focus {
	background-color: #1D6154;
	color: #FFFFFF;
}

.js-gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.js-gallery img {
	width: 100%;

}
#contact,
#connection {
	width: 50%;
margin: auto;
}
#contact > * ,
#connection > * {
	text-align: center;
}
#contact h2,
#connection h2{
	margin-bottom: 20px;
}
#contact form,
#connection form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#connection input,
#new-work input,
#new-work select {
	font: inherit;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#connection label,
#new-work label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#connection {
	margin-top: 7em;
	margin-bottom: 7em;
}

#contact-submit,
#login-submit,
.modal-buttons {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

.inactive_button {
	background-color: #A7A7A7;
}

.forgotten-password {
	text-decoration:underline;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 0.88em;
	color: #3D3D3D;
	justify-content: center;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal-container.active {
	display: block;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #0000004D;
}

.modal {
	min-width: 400px;
	width: 30vw;
	max-height: 95vh;
	background-color: white;
	position: absolute;
	/* top: 40%; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.modal-header-one,
.modal-header-two {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1rem;
}

.modal-header-one {
	justify-content: flex-end;
}

.back-arrow-icon {
	font-size: 18px;
}

#delete-gallery {
	font-family: 'Syne';
	color:#D65353;
	font-weight: 400;
}

.edit-gallery-work {
	position: relative;
}

.delete-icon {
    color: white;
    background-color: black;
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 6px;
    border-radius: 2px;
	width: 20px;
	height: 20px;
	font-size: 12px;
    display: flex;
    justify-content: center;
	align-items: center;
	cursor: pointer;
}

.edit-gallery-work {
	position: relative;
}

.add-works-container, 
.new-work-image-container,
.add-works-container input,
.add-works-container select {
	width: 100%;
	box-sizing: border-box;
}

#new-work {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.new-work-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 1rem;
	background-color: #E8F1F6;
	border-radius: 3px;
	padding: 10px 0px;
	margin-bottom: 1rem;
	position: relative;
}

input[type="file"] {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
	z-index: -1;
}

.preview-image {
	position: absolute;
	height: 70%;
	width: 100%;
	z-index: -1;
	display: flex;
	justify-content: center;
}

.preview-image-is-visible {
	height: 100%;
	width: 100%;
	z-index: 1;
}

.preview-image img {
	max-height: 100%;
	max-width: 100%;
	min-width: 45%;
	object-fit: cover;
}

.upload-work-image-class {
	border: none;
	background-color:#CBD6DC;
	color: #306685;
	font-weight: 500;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 50px;
	cursor: pointer;
	margin: 7px;
}

.new-work-image-container p {
	font-size: 10px;
	color: #444444;
}

.new-work-image-icon {
	font-size: 100px;
	color: #B9C5CC;
}

.modal-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.modal-title {
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	color: black;
	margin-bottom: 2.85rem;
}

.modal-buttons {
	border-style: none;
	width: fit-content;
	padding: 0.65rem 3rem;
}

#confirm-add-work {
	margin-bottom: 0px;
}

.grey-bar {
	width: 100%;
	height: 1px;
	background-color:#B3B3B3;
	margin-top: 1rem;
}

.add-works-step-modal,
.gallery-step-modal {
	width: 100%;
	height: 100%;
}


/* On first toggle hides .gallery-step-modal and shows .add-works-step-modal*/
/* Does the opposite after */

.add-works-step-modal,
.gallery-step-modal.active {
	display: none;
}

.add-works-step-modal.active, 
.gallery-step-modal {
	display: flex;
	flex-direction: column;
	align-items: center;

}
/* end */
.edit-gallery-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 15px;

}

.edit-gallery-work img {
	width: 100%;
	/* height: 100px; */
	object-fit: cover;

}